DATABASE_URL=postgresql://user:password@host:6543/postgres
DIRECT_URL=postgresql://user:password@host:5432/postgres
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PORT=3001
CLIENT_URL=http://localhost:8081
ENABLE_PREMIUM_FEATURE=true
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=2436a59514a6f3
MAIL_PASS=894eb27258208f
